.OrderForm{
    max-width: 70%;
    margin-top: 5%;
}

.container{
    margin : 5%;
    margin-left: 17%;
    padding-left: 2%;

}
.navigationBar{
    margin-right: 2%;
    padding-right: 2%;
}
.navColumn{
    border-right: 2px solid #e6e6e6;
}
.control-group{
    padding:1%;
}
.form-control{
    width: auto;
}
.mini{
    width :10%;
}

.small{
    width: 20%;
}

.medium{
    width: 40%;
}

.large{
    width: 60%;
}

.xlarge{
    width: 80%
}