<!DOCTYPE HTML>
<html lang="en" ng-app='App'>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=egde"/>
    <title>Littele Einstein Inventory Management</title>
    <link rel="icon" type="image/png" href="Images/LEFav.png">
    <!-- LIBRARIES -->
    <script src='bootstrap/js/jquery-1.11.2.min.js'></script>
    <script src="angularfiles/angular.min.js"></script>
    <script src="angularfiles/angular-route.min.js"></script>
    <script src="angularfiles/angular-resource.min.js"></script>
    <script src="angularfiles/angular-sanitize.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- STYLE / THEME -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="//cdncatalog.com/assets/flat-ui/css/flat-ui.css" rel="stylesheet">-->
    <!--<link href="view/css/style.css" rel="stylesheet">-->
    <link href="Stylesheets/LeWebSite.css" rel="stylesheet">
</head>

<!-- THIS APP. -->
<script src="controller/services.js"></script>
<script src="controller/directives.js"></script>
<script src="controller/filters.js"></script>
<script src="controller/controllers.js"></script>
<script src="App.js"></script>
</head>

<body>
<header>
    <div class="headerClass">
        <div class="col-sm-10">Inventory Management</div>
        <div class="col-sm-2"><a href="#some" class="signIn">WebSite</a> | <a href="#some" class="signIn">Contact Us</a>
        </div>
    </div>
</header>
<div>
    <img class="col-sm-2 LoginImage" src="Images/LE_Logo.png">
</div>

<div class="MiddleContainer" ng-controller="LoginController">
    <div class="col-sm-6 LoginHeaderContainer">
        <h1>Little Einstein Preschool</h1>
        <h4>An IIM Alumni venture</h4>
    </div>
    <div class="col-sm-4 ">
        <h2 class="form-signin-heading">Please sign in</h2>

        <form ng-submit="login()">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" id="inputEmail" class="form-control LoginContainer" placeholder="Username"
                   ng-model="loginForm.username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control LoginContainer" placeholder="Password"
                   ng-model="loginForm.password" required>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block LoginContainer" type="submit" id="loginButton">Sign in
            </button>
        </form>
    </div>
</div>
<!-- <footer class="footer">
    <div class="footerClass">&copy; Little Einstein 2015</div>
</footer>
 -->
</body>
</html>
