<div ng-controller="Accounts">
    <section class="content-header">
        <div class="nav-tabs-custom tabClass">
            <ul id="tabsAccounts" class="nav nav-tabs" data-tabs="tabs">
                <li class="active" id="viewAccountsTab"><a data-target="#ViewAccounts" class="onHoverClass"
                                                           data-toggle="tab"><b>View
                </b></a></li>
                <li class="" id="AddAccountTab"><a data-target="#AddAccount" class="onHoverClass"
                                                   data-toggle="tab"><b>Add Account</b></a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="ViewAccounts" ng-show="AccountView">
                    <!--<div>
                        <select id="FilterBy" name="selectFilter" class="form-control"
                                ng-model="AccFilterDef" ng-options="m for m in AccountFilter">
                        </select>
                    </div>-->
                    <div class="input-group col-xs-12 col-md-6">
                        <input type="text" name="q" class="form-control" ng-model="accountSearch" placeholder="Search..."/>
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                    </div>
                    <div class="box-body">
                        <ul class="users-list clearfix">
                            <li ng-repeat="account in Accounts | filter:accountSearch" class="AccountsList"
                                ng-click="showAccount(account)">
                                <!--<img src="../Images/user.jpg" alt="User Image"/>-->
                                <a class="userList" href="">{{getName(account.FranchiseName)}}</a>
                                <span class="users-list-date">{{account.Role}}</span>
                                <!--<button class="btn btn-danger btn-xs" 
                                        ng-click="deleteAccount($index)">Delete
                                </button>-->
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="singleAccount" ng-show="!AccountView">
                    <div class="col-xs-12 col-md-12 singleOrder">
                        <h3>{{AccountNumber.FranchiseName}}</h3>

                        <div class="col-md-6 col-xs-12">
                            <p><b>Franchise Id :</b>&nbsp;{{AccountNumber.FranchiseId}}</p>

                            <p><b>Role :</b>&nbsp;{{AccountNumber.Role}}</p>

                            <p><b>Created On :</b>&nbsp;{{getDate(AccountNumber.CreatedOn)}}</p>
                        </div>
                        <div class="col-md-6 col-xs-12" ng-show="AccountNumber.Role=='FRANCHISE'">
                            <p><b>Kit Cost :</b>&nbsp;Rs  {{AccountNumber.FranchiseDetails.KitCost}}</p>

                            <p><b>Uniform Costs :</b>&nbsp;
                            <table>
                                <tr ng-repeat="(key, value) in AccountNumber.FranchiseDetails.UniformCosts">
                                    <td style="padding-right:10px;">Size {{key}}</td>
                                    <td>:&nbsp;Rs {{value}}</td>
                                </tr>
                            </table>
                            </p>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <button class="btn btn-primary btn-sm" ng-click="AccountView = !AccountView">Back</button>
                            <button class="btn btn-danger btn-sm" 
                                    ng-click="deleteConfirm(AccountNumber.index)">Delete
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="AddAccount" style="background-color:white;padding-bottom: 10px;">
                    <div ng-show="alertMsg.view">
                        <alert type="{{alertMsg.type}}" close="clearAlert()">{{alertMsg.Msg}}</alert>
                    </div>
                    <form class="col-xs-12" ng-submit="createAccount()">
                        <div class="col-xs-12">
                            <div class="form-group medium">
                                <label for="FranchiseAccEmail">Franchise Email</label>
                                <input type="email" class="form-control" id="FranchiseAccEmail"
                                       ng-focus="clearAlert()"
                                       ng-model="AccountDet.FranchiseId" placeholder="someone@example.com"
                                       autofocus required>
                            </div>
                            <div class="form-group medium">
                                <label for="FranchiseAccName">Franchise Name</label>
                                <input type="text" class="form-control" id="FranchiseAccName"
                                       ng-model="AccountDet.FranchiseName" placeholder="LE Kolkata" required>
                            </div>
                            <div class="form-group medium">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" ng-model="AccountDet.Password"
                                       id="exampleInputPassword1" placeholder="Password" required>
                            </div>
                            <div class="btn-group medium">
                                <label class="btn btn-sm btn-primary" ng-model="RoleRadioModel"
                                       btn-radio=0>Franchise</label>
                                <label class="btn btn-sm btn-primary" ng-model="RoleRadioModel"
                                       btn-radio=1>Admin</label>
                            </div>
                            </br>
                            </br>
                            <div class="input-group medium" ng-hide="RoleRadioModel">
                                <span class="input-group-addon ">Set Kit Cost</span>
                                <input type="text" class="form-control" placeholder="Rs" ng-model="KitCost">
                            </div>
                            <div class="form-group" style="padding-top:2%;">
                                <button class="btn btn-success" type="submit">Create</button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </section>
</div>