<section class="content" ng-controller="Downloads">

    <div class="box box-primary">
        <div class="box-header with-border">
            <!--<h3 class="box-title col-md-4 ContactListWhite" style="text-align: center">Franchise</h3>-->
            <h3 class="box-title col-md-8">Downloads</h3>
        </div>
        <div class="box-body">
            <div class="downloadType col-md-5 col-xs-12">
                <h3>Orders</h3>
                <form ng-submit="downloadFiles('order',Orders,FranchiseSelected.selected, StatusOption)">
                    <div class="control-group ">
                        <label class="control-label">Franchise</label>
                        <div class="controls">
                            <ui-select id="Franchise" ng-model="FranchiseSelected.selected" class="controls" theme="select2"
                                       ng-disabled="disabled" style="min-width: 300px;">
                                <ui-select-match style="border-radius:0px; min-height: 30px;min-width:100px;" class="controls" placeholder="Select or search Franchise">
                                    {{$select.selected.FranchiseName}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="Franchise in FranchiseNameList | filter: $select.search">
                                    <div ng-bind-html="Franchise.FranchiseName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="fromDate">from Date</label>
                        <div class="controls">
                            <input id="fromDate" name="fromDate" type="date"
                                   placeholder="From Date"
                                   class=" form-control "
                                   ng-model="Orders.fromDate">
                        </div>
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="toDate">till Date</label>
                        <div class="controls">
                            <input id="toDate" name="fromDate" type="date"
                                   placeholder="till Date"
                                   class=" form-control "
                                   ng-model="Orders.toDate">
                        </div>
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="Status">Status</label>
                        <div class="controls">
                            <select id="Status" class="form-control mediumClass" name="Status" ng-model="StatusOption" ng-options="option for option in StatusOptions"></select>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">Download</button>
                </form>
            </div>
            <div class="downloadType col-md-5 col-xs-12">
                <h3>Students</h3>
                <form ng-submit="downloadFiles('student',students,FranchiseSelected.selected,null,kitOption)">

                    <div class="control-group ">
                        <label class="control-label">Franchise</label>
                        <div class="controls">
                            <ui-select id="Franchise" ng-model="FranchiseSelected.selected" class="controls" theme="select2"
                                       ng-disabled="disabled" style="min-width: 300px;">
                                <ui-select-match style="border-radius:0px; min-height: 30px;min-width:100px;" class="controls" placeholder="Select or search Franchise">
                                    {{$select.selected.FranchiseName}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="Franchise in FranchiseNameList | filter: $select.search">
                                    <div ng-bind-html="Franchise.FranchiseName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="fromDateStudents">from Date</label>
                        <div class="controls">
                            <input id="fromDateStudents" name="fromDate" type="date"
                                   placeholder="From Date"
                                   class=" form-control "
                                   ng-model="students.fromDate" autofocus
                                   >
                        </div>
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="toDate">till Date</label>
                        <div class="controls">
                            <input id="toDateStudents" name="fromDate" type="date"
                                   placeholder="till Date"
                                   class=" form-control "
                                   ng-model="students.toDate" autofocus
                                   >
                        </div>
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="Class">Class</label>
                        <div class="controls">
                            <select id="Class" class="form-control mediumClass" name="Status" ng-model="kitOption" ng-options="option.Name for option in kitOptions"></select>
                        </div>
                    </div><br>
                    <button class="btn btn-primary" type="submit">Download</button>
                </form>
            </div>
            <div class="downloadType col-md-5 col-xs-12">
                <h3>Inventory Logs</h3>
                <form ng-submit="downloadInventory(InventoryLogs)">

                    <div class="control-group ">
                        <label class="control-label" for="fromDateInventory">from Date</label>
                        <div class="controls">
                            <input id="fromDateInventory" name="fromDate" type="date"
                                   placeholder="From Date"
                                   class=" form-control "
                                   ng-model="Inventory.fromDate" autofocus
                                   >
                        </div>
                    </div>
                    <div class="control-group ">
                        <label class="control-label" for="toDateInventory">till Date</label>
                        <div class="controls">
                            <input id="toDateInventory" name="fromDate" type="date"
                                   placeholder="till Date"
                                   class=" form-control "
                                   ng-model="Inventory.toDate" autofocus
                                   >
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary disabled" type="submit">Download</button>
                </form>
            </div>
        </div>
    </div>
</section>
