<!DOCTYPE html>
<html ng-app='App'>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../Images/LEFav.png">
    <title>LE Orders</title>

    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../Stylesheets/LeWebSite.css" rel="stylesheet">
    <style type="text/css">
        .splash {
            display: none;
        }

        [ng-cloak].splash {
            display: block !important;
        }

        .splash {
            background: blue;
            color: white;
        }

        .splash h2 {
            font-size: 2.1em;
            font-weight: 500;
        }
    </style>
</head>
<body>
<!-- The splash screen must be first -->
<div id="splash" class='splash' ng-cloak="">
    <h2>Loading</h2>
</div>
<div ng-cloak="">
    <!-- The rest of our app -->
    <script src="../bootstrap/js/jquery-1.11.2.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

    <!--angular Files-->
    <script src="../angularfiles/angular.min.js"></script>
    <script src="../angularfiles/angular-route.min.js"></script>
    <script src="../angularfiles/angular-resource.min.js"></script>
    <script src="../angularfiles/angular-sanitize.min.js"></script>
    <script src="../bootstrap/js/ui-bootstrap-tpls-0.12.1.min.js"></script>


    <!--angular controller services-->
    <script src="../controller/services.js"></script>
    <script src="../controller/directives.js"></script>
    <script src="../controller/filters.js"></script>
    <script src="../controller/franchiseControllers.js"></script>
    <script src="../App.js"></script>

    <div>
        <div class="headerClass" ng-controller="LogOutCtrl">
            <img src="../Images/LEFav.png" class="headerImage">

            <div class="col-xs-4 headerName">Little Einstein Preschool</div>
            <div class="col-xs-3 ContactClass"><a href="#some" class="signIn">{{FranchiseName}}</a> | <a href="/Login"
                                                                                                         class="signIn">Log
                out</a>
            </div>
        </div>
    </div>
    <!--<div class="headerClass">
        <img src="../Images/LEFav.png" class=" headerImage">
        <div class="col-xs-4 headerName">Little Einstein Preschool</div>
        <div class="col-xs-3 ContactClass"><a href="#some" class="signIn">WebSite</a> | <a href="#some" class="signIn">Contact
            Us</a>
        </div>
    </div>

    <div class="control-group col-xs-12" ng-controller="LogOutCtrl">
        <div class="FranchiseName col-xs-4"><b>Hello Some Name !</b></div>
        <div class="controls">
            <button id="logout" name="logout" class="btn btn-primary logoutbutton" type="submit" ng-click="logOut()">
                LogOut
            </button>
        </div>
    </div>-->
    <div class="col-xs-12">
        <div class="col-xs-2 navColumn  menu">
            <ul class="nav nav-pills nav-stacked navigationBar">
                <li role="presentation" class="active onHover"><a href="#Orders" class="onHoverClass" data-toggle="tab">Place
                    Order</a></li>
                <li role="presentation" class="onHover"><a href="#PreviousOrders" class="onHoverClass" data-toggle="tab"
                                                           ng-click="">Previous Orders</a></li>
                <li role="presentation" class="onHover"><a href="#Query" class="onHoverClass"
                                                           data-toggle="tab">Queries</a></li>
            </ul>
        </div>
        <div class="cotainer col-xs-10">
            <div class="tab-content">
                <div class="tab-pane active" id="Orders">
                    <div ng-controller="OrderForm">
                        <ul id="tabs" class="nav nav-tabs OrderNav" data-tabs="tabs">
                            <li class="active" id="StudentTab"><a href="#red" data-toggle="tab"><b>Students' Details</b></a>
                            </li>
                            <li class="" id="OrderTab"><a href="#orange" data-toggle="tab"><b>Order Summary</b></a></li>
                            <li class="" id="PaymentTab"><a href="#yellow" data-toggle="tab"><b>Payment Details</b></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active col-xs-10" id="red">
                                <fieldset>
                                    <form ng-hide="formHide" ng-submit="addStudents()">
                                        <div class="control-group col-xs-12 ">
                                            <label class="control-label col-xs-4" for="childname">Name of Child</label>

                                            <div class="controls">
                                                <input id="childname" name="childname" type="text"
                                                       placeholder="Enter full name of child"
                                                       class="col-xs-4 form-control medium"
                                                       ng-model="StudentObject.NameOfStudent" autofocus
                                                       required>
                                            </div>
                                        </div>
                                        <br/>

                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" for="selectClass">Class</label>

                                            <div class="controls">
                                                <select id="selectClass" name="selectClass"
                                                        class="col-xs-8 form-control small"
                                                        ng-model="Class" ng-options="m for m in ClassOptions"
                                                        ng-change="setClass()">
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" for="classAge">Age</label>

                                            <div class="controls">
                                                <input id="classAge" name="classAge" type="number" placeholder="age"
                                                       class="col-xs-8 form-control mini" ng-model="StudentObject.Age"
                                                       required>
                                            </div>
                                        </div>
                                        <br/>
                                        <!-- Text input-->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" for="parentName">Parent Name</label>

                                            <div class="controls">
                                                <input id="parentName" name="parentName" type="text"
                                                       placeholder="Mother's/Father's name"
                                                       class="col-xs-8 form-control medium "
                                                       ng-model="StudentObject.ParentName" required>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" for="parentsContact">Parent's Contact
                                                No.</label>

                                            <div class="controls">
                                                <input id="parentsContact" name="parentsContact" type="tel"
                                                       placeholder="Contact Number"
                                                       class="col-xs-8 form-control medium "
                                                       ng-model="StudentObject.ParentContact" required>
                                            </div>
                                        </div>
                                        <br/>
                                        <!-- Text input-->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" for="parentEmail">Parent's
                                                Email</label>

                                            <div class="controls">
                                                <input id="parentEmail" name="parentEmail" type="email"
                                                       placeholder="someone@example.com"
                                                       class="col-xs-8 form-control medium"
                                                       ng-model="StudentObject.ParentEmail" required>
                                            </div>
                                        </div>
                                        <br/>
                                        <!-- Select Basic -->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" for="uniformSize">Uniform Size</label>

                                            <div class="controls">
                                                <select id="uniformSize" name="uniformSize"
                                                        class="col-xs-8 form-control mini"
                                                        ng-model="UniformSize" ng-options="m for m in UniformOptions"
                                                        ng-change="setUniformSize()"
                                                        >
                                                    <!--<option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>-->
                                                </select>
                                            </div>
                                        </div>
                                        <br/>
                                        <!-- Text input-->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" for="uniformQuant">Uniform
                                                Quantity</label>

                                            <div class="controls">
                                                <input id="uniformQuant" name="uniformQuant" type="number"
                                                       placeholder="Qty"
                                                       class="col-xs-8 form-control mini"
                                                       ng-model="StudentObject.UniformQty"
                                                       ng-change="setTotalCost()" required>
                                            </div>
                                        </div>
                                        <br/>
                                        <!-- Text input-->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" for="Date">Date of Admission</label>

                                            <div class="controls">
                                                <input id="Date" name="Date" type="DATE" placeholder="placeholder"
                                                       class="col-xs-8 form-control medium"
                                                       ng-model="StudentObject.DateOfAdmission" required>
                                            </div>
                                        </div>
                                        <br/>
                                        <!-- Text input-->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" for="regNum">Registration
                                                number</label>

                                            <div class="controls">
                                                <input id="regNum" name="regNum" type="text"
                                                       placeholder="Enter Child's Registration Number"
                                                       class="col-xs-8 form-control medium"
                                                       ng-model="StudentObject.RegistrationNumber" required>
                                            </div>
                                        </div>
                                        <br/>
                                        <!-- Text input-->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" for="receiptNo">Receipt Number</label>

                                            <div class="controls">
                                                <input id="receiptNo" name="receiptNo" type="text"
                                                       placeholder="Enter Receipt Number"
                                                       class="col-xs-8 form-control medium"
                                                       ng-model="StudentObject.ReceiptNumber" required>
                                            </div>
                                        </div>
                                        <br/>
                                        <!-- Text input-->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4">Welcome Kit Cost</label>

                                            <div class="controls input-group small">
                                                <span class="input-group-addon">Rs</span>
                                                <!-- <input id="kitCost" name="kitCost" type="number" placeholder="000.00" ng-model="TotalCost"
                                                class="col-xs-8 form-control mini"> -->
                                                <h4 ng-model="TotalCost" class="col-xs-8 form-control mini "
                                                    style="margin-top:0%;">
                                                    {{KitCost}}</h4>
                                            </div>
                                        </div>

                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4">Total Cost</label>

                                            <div class="controls input-group small">
                                                <span class="input-group-addon">Rs</span>
                                                <!-- <input id="kitCost" name="kitCost" type="number" placeholder="000.00" ng-model="TotalCost"
                                                class="col-xs-8 form-control mini"> -->
                                                <h4 ng-model="TotalCost" class="col-xs-8 form-control mini"
                                                    style="margin-top:0%;">
                                                    {{TotalCost}}</h4>
                                            </div>
                                        </div>

                                        <br/>
                                        <!-- Button -->
                                        <br/>
                                        <br/>

                                        <div class="addmoretext">
                                            <!--<label class="control-label col-xs-2" for="addMore" style="
                                                margin-top: 20px;
                                                margin-left: 7px;
                                                ">Add More</label>-->

                                            <div class="controls">
                                                <button type="submit" ng-hide="formHide" id="addMore" name="addMore"
                                                        class="btn btn-primary" style="
                        margin-top: 10px;
                        ">Submit
                                                </button>
                                                <button type="button" ng-hide="formCancel" id="Cancel" name="Cancel"
                                                        class="btn btn-primary" style="
        margin-top: 10px; margin-left:1%;
        " ng-click="stdCancel()">Cancel
                                                </button>
                                            </div>
                                        </div>

                                    </form>

                                </fieldset>
                                <div class="control-group col-xs-12">
                                    <div class="controls">
                                        <button id="Next" name="Next" ng-hide="formButtons"
                                                class="btn btn-primary NextButton disabled" type=""
                                                ng-click="next()">
                                            Next
                                        </button>
                                    </div>
                                </div>


                            </div>
                            <div class="tab-pane col-md-10" id="yellow">
                                <form ng-submit="placeOrder()">
                                    <fieldset>
                                        <!-- Text input-->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4">Total Amount Paid</label>

                                            <div class="controls input-group small">
                                                <span class="input-group-addon">Rs</span>

                                                <div id="AmountTotal" class="col-xs-8 form-control mini"
                                                     ng-model="OrderForm.TotalAmount">
                                                    {{getFinalCost()}}
                                                </div>
                                            </div>
                                        </div>
                                        <br/>
                                        <!-- Text input-->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" for="modePayment">Mode of
                                                Payment</label>

                                            <div class="controls">
                                                <input id="modePayment" name="modePayment" type="text"
                                                       placeholder="Cash/Account Transfer"
                                                       class="col-xs-8 form-control medium"
                                                       ng-model="OrderForm.ModeOfPayment" required>
                                            </div>
                                        </div>
                                        <br/>
                                        <!-- Text input-->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" for="bankName">Name of Bank</label>

                                            <div class="controls">
                                                <input id="BankName" name="bankTranID" type="text" placeholder=""
                                                       class="col-xs-8 form-control medium "
                                                       ng-model="OrderForm.BankName" required>
                                            </div>
                                        </div>
                                        <br/>

                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" for="bankTranID">Bank Transaction
                                                id </label>

                                            <div class="controls">
                                                <input id="bankTranID" name="bankTranID" type="text" placeholder=""
                                                       class="col-xs-8 form-control medium "
                                                       ng-model="OrderForm.TransactionID" required>
                                            </div>
                                        </div>
                                        <br/>
                                        <!-- Text input-->
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" row="3" for="address">Address</label>

                                            <div class="controls">
                                                <input id="address" name="address"
                                                       style="height:60px;"
                                                       placeholder="Enter Address for delivery" rows="3"
                                                       class="col-xs-8 form-control medium "
                                                       ng-model="OrderForm.Address" required>
                                                </input>
                                            </div>
                                        </div>
                                        <div class="control-group col-xs-12">
                                            <label class="control-label col-xs-4" row="3" for="address">Note</label>

                                            <div class="controls">
                                                <input id="Note" name="address" placeholder="Additional Notes for order"
                                                       rows="3"
                                                       class="col-xs-8 form-control medium " ng-model="OrderForm.Note">
                                                </input>
                                            </div>
                                        </div>
                                        <div class="control-group col-xs-12">
                                            <div class="controls col-xs-12">
                                                <button id="placeOrder" name="placeOrder"
                                                        class="btn btn-primary col-xs-2"
                                                        type="submit" style="margin-top:2%; padding-right:10%;">Place
                                                    Order
                                                </button>

                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="tab-pane" id="orange">
                                <h3>Order Summary</h3>

                                <div class="col-xs-4">
                                    <h4>Kits </h4>
                                    <table>
                                        <tr ng-repeat="class in ClassOptions">
                                            <td><p>{{class}} &nbsp;</td>
                                            <td style="text-align: center">: &nbsp; &nbsp; {{getKitNumber(class)}}</td>
                                        </tr>
                                    </table>
                                    <!--<p style="margin-top:5px;"><b>Subtotal :</b>&nbsp; {{}}</p>-->
                                </div>
                                <div class="col-xs-4">
                                    <h4>Uniforms</h4>
                                    <table>
                                        <tr ng-repeat="uniform in UniformOptions">
                                            <td>Size &nbsp; {{uniform}}&nbsp;</td>
                                            <td>: &nbsp; &nbsp; {{getUniformNumber(uniform)}}</td>
                                        </tr>
                                    </table>
                                    <!--<p style="margin-top:5px;"><b>Subtotal :</b>&nbsp; {{}}</p>-->

                                </div>
                                <div class="col-xs-12">
                                    <h4 style="margin-top:2%;">Total Amount Rs :&nbsp;{{TotalAmount}}</h4>
                                </div>
                                <div class="col-xs-12">
                                    <h4>Details :</h4>
                                <table class="table table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Student</th>
                                        <th>Class</th>
                                        <th>Uniform Size</th>
                                        <th>Uniform Quantity</th>
                                        <th style="text-align: center;">Cost</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="student in Students">
                                        <th scope="row">{{$index + 1}}</th>
                                        <td>{{student.NameOfStudent}}</td>
                                        <td>{{student.Class}}</td>
                                        <td style="max-width:20%;width:15%;"><select type="number" style="width:100%;"
                                                                          class="InvElementInput"
                                                                          ng-model="UniformArray[$index]"
                                                                          ng-options="m for m in UniformOptions"
                                                                          ng-change="setUniformSizeFinal($index)"></select>
                                        </td>
                                        <td style="max-width: 10%; width:15%;"><input type="number" style="width:100%;"
                                                                          class="InvElementInput"
                                                                          ng-model="Students[$index].UniformQty"></td>
                                        <td style="text-align: center">{{KitCost + UniformCosts[UniformArray[$index]] *
                                            Students[$index].UniformQty}}
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                </div>
                                <div class="control-group col-xs-12">
                                    <button type="" id="done" name="done" ng-hide="formButtons" class="btn btn-success"
                                            style="
    margin-top: 10px;
    " ng-click="addMore()">Add More
                                    </button>

                                    <button id="Confirm" name="Next" class="btn btn-primary NextButton" type=""
                                            ng-click="confirmOrder()">Confirm
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="PreviousOrders" ng-controller="PrevOrders">
                    <ul id="tabsOrders" class="nav nav-tabs col-xs-10 OrderNav" data-tabs="tabs">
                        <li class="active" id="PendingTab"><a href="#Pending" class="onHoverClass" data-toggle="tab"><b>Pending
                            <span class="badge" style="background-color: #d43f3a">{{dummyOrders.length}}</span></b></a>
                        </li>
                        <li class="" id="DispatchedTab"><a href="#Dispatched" class="onHoverClass"
                                                           data-toggle="tab"><b>Dispatched</b></a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active col-xs-10" id="Pending">
                            <div class="col-xs-12" style="border-bottom: 1px solid #ddd; padding-bottom:1%;">
                                <button class="btn btn-success btn-sm pull-left" ng-click="refreshOrders()"><span class="glyphicon glyphicon-refresh"
                                                                                                              style="padding-right:10%;"></span>Refresh
                                </button>
                                <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default btn-sm disabled">Previous
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">Next</button>
                                </div>
                            </div>
                            <ul ng-hide="listView" style="margin-top:8%;">
                                <li style="list-style: none; padding-bottom: 1%;" ng-repeat="order in Orders">
                                    <div class="OrderList">
                            <span><button class="btn btn-default" ng-click="showOrder($index)"><b>Order Id : </b>
                                {{order.OrderId}}
                            </button></span> <span class="label label-info pull-right">{{order.Status}}</span>

                                        <div style="padding-top:3%;"><span style="padding-right:2%; color:#545454"><small>
                                            <b>By
                                                : </b></small>{{order.FranchiseName}}</span><span
                                                style="padding-right:2%;color:#545454"><small>
                                            <b>Date : </b></small>{{getDate(order.CreatedOn)}}</span><span
                                                class="pull-right"
                                                style="color:#545454"><small>
                                            <b>Total : </b></small><b>{{order.TotalAmount}}</b></span></div>
                                    </div>
                                </li>
                            </ul>
                            <div ng-hide="orderView" class="singleOrder" style="margin-top:8%;">

                                <button class="btn btn-success" ng-click="showOrder()"><b>Order Id : </b>
                                    {{Orders[OrderNo].OrderId}}
                                </button>
                                <button class="btn btn-primary pull-right" ng-click="showOrder()">Back</button>
                                <div class="col-xs-12" style="padding:2%">
                                    <div class="col-xs-6">
                                        <div class="displayOrder"><b>Order Date : </b>
                                            {{getDate(Orders[OrderNo].CreatedOn)}}
                                        </div>
                                        <div class="displayOrder"><b>Amount Paid : </b>{{Orders[OrderNo].TotalAmount}}
                                            <small> through {{Orders[OrderNo].ModeOfPayment}}</small>
                                        </div>
                                        <div class="displayOrder"><b>Bank : </b>{{Orders[OrderNo].BankName}}
                                        </div>
                                        <div class="displayOrder"><b>Transaction Id : </b>{{Orders[OrderNo].TransactionID}}
                                        </div>
                                        <div class="displayOrder"><b>Franchise Id : </b>{{Orders[OrderNo].FranchiseId}}
                                        </div>
                                    </div>
                                    <div class="col-xs-4 pull-right">
                                        <div class="displayOrder"><h4 style="margin:0%;">
                                            {{Orders[OrderNo].FranchiseName}}</h4></div>
                                        <div class="displayOrder">{{Orders[OrderNo].Address}}</div>
                                    </div>
                                </div>

                                <form>
                                    <ul>
                                        <li class="col-xs-12 singleOrder" style="margin-bottom:1%;"
                                            ng-repeat="student in Orders[OrderNo].Students">



                                    <span class="col-xs-11">

                                        <div class="studentList"><span><small>Name :
                                        </small>{{student.NameOfStudent}}</span><span
                                                style="padding-left:5%;"><small>Class :</small>{{student.Class}}</span>
                                        </div>
                                        <div class="studentList">
                                            <span><small>Uniform Size :</small>{{student.UniformSize}}</span><span
                                                style="padding-left:5%;"><small>Uniform Quantity :</small>{{student.UniformQty}}</span>
                                            <span class="pull-right"><small>Individual Total :</small>{{UniformCosts[student.UniformSize]*student.UniformQty + KitCost}}</span>
                                        </div>

                                    </span>

                                        </li>
                                    </ul>
                                    <button class="btn btn-primary" style="margin:2%;width:15%;" type="button">Next
                                    </button>
                                </form>

                            </div>


                        </div>
                        <div class="tab-pane col-md-10" id="Dispatched">
                            <div class="col-xs-12" style="border-bottom: 1px solid #ddd; padding-bottom:1%;">
                                <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default btn-sm disabled">Previous
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">Next</button>
                                </div>
                            </div>
                            <ul ng-hide="listView" style="margin-top:8%;">
                                <li style="list-style: none; padding-bottom: 1%;" ng-repeat="order in dispatched">
                                    <div class="OrderList">
                            <span><button class="btn btn-primary" ng-click="showOrder($index)"><b>Order Id : </b>
                                {{order.OrderId}}
                            </button></span> <span class="label label-success pull-right">{{order.Status}}</span>

                                        <div style="padding-top:3%;"><span style="padding-right:2%; color:#545454"><small>
                                            <b>By
                                                : </b></small>{{order.FranchiseId}}</span><span
                                                style="padding-right:2%;color:#545454"><small>
                                            <b>Dispatched On : </b></small>{{getDate(order.ModifiedOn)}}</span><span
                                                class="pull-right"
                                                style="color:#545454"><small>
                                            <b>Total : </b></small><b>{{order.TotalAmount}}</b></span></div>
                                    </div>
                                </li>
                            </ul>
                            <div ng-hide="orderView" class="singleOrder" style="margin-top:8%;">

                                <button class="btn btn-primary" ng-click="showOrder()"><b>Order Id : </b>
                                    {{dispatched[OrderNo].OrderId}}
                                </button>
                                <button class="btn btn-primary pull-right" ng-click="showOrder()">Back</button>
                                <div class="col-xs-12" style="padding:2%">
                                    <div class="col-xs-6">
                                        <div class="displayOrder"><b>Dispatched On : </b>
                                            {{getDate(dispatched[OrderNo].ModifiedOn)}}
                                        </div>
                                        <div class="displayOrder"><b>Amount Paid : </b>{{dispatched[OrderNo].TotalAmount}}
                                            <small> through {{dummyOrders[OrderNo].ModeOfPayment}}</small>
                                        </div>
                                        <div class="displayOrder"><b>Transaction Id : </b>{{dispatched[OrderNo].TransactionID}}
                                        </div>
                                    </div>
                                    <div class="col-xs-4 pull-right">
                                        <div class="displayOrder"><h4 style="margin:0%;">
                                            {{dispatched[OrderNo].FranchiseId}}</h4></div>
                                        <div class="displayOrder">{{dispatched[OrderNo].Address}}</div>
                                    </div>
                                </div>
                                <div style="margin:2%;">

                                    <ul>
                                        <li class="col-xs-12 singleOrder" style="margin-bottom:1%;"
                                            ng-repeat="student in dispatched[OrderNo].Students">

                                            <div class="studentList"><span><small>Name :
                                            </small>{{student.NameOfStudent}}</span><span
                                                    style="padding-left:5%;"><small>Class :
                                            </small>{{student.Class}}</span>
                                            </div>
                                            <div class="studentList">
                                                <span><small>Uniform Size :</small>{{student.UniformSize}}</span><span
                                                    style="padding-left:5%;"><small>Uniform Quantity :
                                            </small>{{student.UniformQty}}</span>
                                                <span class="pull-right"><small>Individual Total :</small>{{UniformCosts[student.UniformSize]*student.UniformQty + KitCost}}</span>
                                            </div>
                                        </li>
                                    </ul>

                                    <button class="btn btn-primary" style="margin:2%;width:15%;" type="submit">Next
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="Query">
                    Something to Display Here
                </div>
            </div>
        </div>

        <!--<div ng-view class="mainView"></div>-->
        <!--<footer>
            <div class="footerClass">&copy; Little Einstein 2015</div>
        </footer>-->

    </div>
</div>
</body>
<script src="../JavaScripts/franchiseMain.js"></script>
</html>