<section class="content" ng-controller="Messages">
    <div >
        <!-- DIRECT CHAT -->
        <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Messages</h3>

            </div><!-- /.box-header -->
            <div class="box-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages" style="background-color: #f0f4ef">
                    <!-- Message. Default to the left -->

                    <div class="direct-chat-msg" ng-repeat="message in Messages.Messages">
                        <!--<div class='direct-chat-primary clearfix'>
                            <span class='direct-chat-name pull-left'>{{message.sender}}</span>
                            <span class='direct-chat-timestamp pull-right'>{{getDate(message["sent on"])}}</span>
                        </div>--><!-- /.direct-chat-primary -->
                        <div style="border:1px solid #ddd;border-radius:3px;padding:10px;background-color: white;">
                            <div class='direct-chat-primary'>
                                <span class='direct-chat-name pull-left'>{{message.sender}}</span>
                                <span class='direct-chat-timestamp pull-right'>{{getDate(message["sent on"])}}</span>
                            </div></br>
                            {{message.Message}}
                        </div><!-- /.direct-chat-text -->
                    </div><!-- /.direct-chat-msg -->



                </div><!--/.direct-chat-messages-->
            </div><!-- /.box-body -->
            <div class="box-footer">
                <form action="#" method="post">
                    <div class="input-group">
                        <input type="text" name="message" placeholder="Type Message ..." class="form-control"/>
	                          <span class="input-group-btn">
	                            <button type="button" class="btn btn-primary btn-flat">Send</button>
	                          </span>
                    </div>
                </form>
            </div><!-- /.box-footer-->
        </div><!--/.direct-chat -->
    </div>

</section>