<section class="content-header">
    <h1>
        Upload Orders
    </h1>

</section>

<section class="content" ng-controller="uploadOrders">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a data-target="#tab_1" data-toggle="tab">Instructions </a></li>
            <li><a data-target="#tab_2" data-toggle="tab">Upload Orders</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div style="padding-left: 2%;">
                    <h3>Read following instructions carefully :</h3>
                    <ul ng-show="radioModel=='show'" style="list-style: decimal;font-size: large;" class="instructionUl">
                        <li >Only files with .xls extension (excel 97-2003 format) can be uploaded.</li>
                        <li>Download the Orders file by pressing "Download Orders Form" button. Fill the order data in this file and upload again. Upload options are available in "Upload Orders " Tab.</li>
                        <li>No other file will be accepted/processed.<span class="label label-danger" style="margin-left:1%;">Important !</span><br><br></li>
                    </ul>
                    <a href="/download/sampleOrders"><button class="btn btn-primary">Download Orders Form</button></a>
                </div>
            </div><!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
                <div class="row">
                <div style="padding-left: 2%;">
                    <h3>Select files</h3>
                    <input type="file" nv-file-select="" uploader="uploader" />

                </div>
                <div class="col-md-12 col-xs-12" style="margin-bottom: 40px;padding-left: 2%;">
                    <div ng-show="alertMsg.view" style="padding-top:2%;">
                        <alert type="{{alertMsg.type}}" close="clearAlert()">{{alertMsg.Msg}}</alert>
                    </div>
                    <div ng-show="alertMsg.view&&ErrorMessage.length>0" style="padding-left:1%;background-color: #ffe6d1;border: 1px solid #bf3c2d;border-radius: 4px;">
                        <h3>Errors while processing :</h3>
                        <p> <b>Only</b> for following students, please upload file again after correcting errors.</p>
                        <div ng-repeat="student in ErrorMessage"> {{student.student}} : <p ng-repeat="errorMsg in student.foundErrors" style="color:red;">{{errorMsg}}</p></div>
                    </div>
                    <h3>Upload queue</h3>
                    <p>Queue length: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th ng-show="uploader.isHTML5">Size</th>
                            <th ng-show="uploader.isHTML5">Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>


                </div>
                </div>
            </div><!-- /.tab-pane -->

        </div><!-- /.tab-content -->
    </div>
</section>



