<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../public/Images/LEFav.png">
    <title>LE Orders</title>
    <script src="../public/bootstrap/js/Jquery"></script>
    <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/Stylesheets/LeWebSite.css" rel="stylesheet">
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/angularfiles/angular.min.js"></script>

    <script src="../public/bootstrap/js/Jquery"></script>

    <script>
        $(function () {
            $('.toggle').click(function () {
                $('.nav-list').toggleClass('active');
            });
            $('#navbar li a, .nav-list li a').click(function (e) {
                var href = $(this).attr('href');
                if (href === '#' || /^http.*/.test(href)) {
                    return;
                }
                e.preventDefault();
                $('iframe').attr('src', href);
                $('.nav-list').removeClass('active');
                location.hash = href;
            });
            $('iframe').attr('src', location.hash.substring(1) || 'welcome.html');
        });
    </script>


    <link rel="stylesheet" href="../public/bootstrap-table/src/bootstrap-table.css">
    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <script src="../public/jquery.min.js"></script>

    <script src="../public/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="../public/bootstrap-table/src/extensions/export/bootstrap-table-export.js"></script>
    <script src="//rawgit.com/kayalshri/tableExport.jquery.plugin/master/tableExport.js"></script>
    <script src="//rawgit.com/kayalshri/tableExport.jquery.plugin/master/jquery.base64.js"></script>
    <script src="../public/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js"></script>
    <script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="../public/ga.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js"></script>
</head>
<body>
<header>
    <img src="../public/Images/LEFav.png" class="col-sm-2 headerImage"><div class="headerClass"><div class="col-sm-8 headerName">Little Einstein Preschool</div>
    <div class="col-sm-2"><a href="#some" class="signIn">WebSite</a> | <a href="#some" class="signIn">Contact Us</a></div></div>
</header>
<div class="control-group col-sm-12">
    <div class="FranchiseName">AkshayFranchisee</div>
    <div class="controls">
        <button id="logout" name="logout" class="btn btn-primary logoutbutton" type="submit">LogOut</button>
    </div>
</div>
<div class="col-md-2 navColumn menu">
    <ul class="nav nav-pills nav-stacked navigationBar">
        <li role="presentation" class="active"><a href="#">Place Order</a></li>
        <li role="presentation"><a href="PreviousOrders.html">Previous Orders</a></li>
        <li role="presentation"><a href="Query.html">Queries</a></li>
    </ul>
</div>
<div class="container">

<ul id="tabs" class="nav nav-tabs col-md-10" data-tabs="tabs">
    <li class="active" id="StudentTab"><a href="#red" data-toggle="tab"><b>Students' Details</b></a></li>
    <li class="" id="OrderTab"><a href="#orange" data-toggle="tab"><b>Order Summary</b></a></li>
    <li class="" id="PaymentTab"><a href="#yellow" data-toggle="tab"><b>Payment Details</b></a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active col-md-10" id="red">
        <fieldset>
            <div class="control-group col-sm-12 ">
                <label class="control-label col-sm-4" for="childname">Name of Child</label>

                <div class="controls">
                    <input id="childname" name="childname" type="text"  placeholder="Enter full name of child"
                           class="col-sm-4 form-control medium" autofocus>
                </div>
            </div>
            <br/>
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="selectClass">Class</label>
                <div class="controls">
                    <select id="selectClass" name="selectClass" class="col-sm-8 form-control small">
                        <option>PlayGroup</option>
                        <option>Nursery</option>
                        <option>LKG</option>
                        <option>UKG</option>
                    </select>
                </div>
            </div>
            <!-- Text input-->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="classAge">Age</label>
                <div class="controls">
                    <input id="classAge" name="classAge" type="number"  placeholder="age"
                           class="col-sm-8 form-control mini">
                </div>
            </div>
            <br/>
            <!-- Text input-->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="parentName">Parent Name</label>
                <div class="controls">
                    <input id="parentName" name="parentName" type="text"  placeholder="Mother's/Father's name"
                           class="col-sm-8 form-control medium ">
                </div>
            </div>
            <!-- Text input-->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="parentsContact">Parent's Contact No.</label>
                <div class="controls">
                    <input id="parentsContact" name="parentsContact" type="tel" placeholder="Contact Number"
                           class="col-sm-8 form-control medium ">
                </div>
            </div>
            <br/>
            <!-- Text input-->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="parentEmail">Parent's Email</label>
                <div class="controls">
                    <input id="parentEmail" name="parentEmail" type="email" placeholder="someone@example.com"
                           class="col-sm-8 form-control medium" >
                </div>
            </div>
            <br/>
            <!-- Select Basic -->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="uniformSize">Uniform Size</label>
                <div class="controls">
                    <select id="uniformSize" name="uniformSize" class="col-sm-8 form-control mini">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
            <br/>
            <!-- Text input-->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="uniformQuant">Uniform Quantity</label>
                <div class="controls">
                    <input id="uniformQuant" name="uniformQuant" type="number" placeholder="Qty"
                           class="col-sm-8 form-control mini" >
                </div>
            </div>
            <br/>
            <!-- Text input-->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="Date">Date of Admission</label>
                <div class="controls">
                    <input id="Date" name="Date" type="DATE" placeholder="placeholder"
                           class="col-sm-8 form-control medium" >
                </div>
            </div>
            <br/>
            <!-- Text input-->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="regNum">Registration number</label>
                <div class="controls">
                    <input id="regNum" name="regNum" type="text" placeholder="Enter Child's Registration Number"
                           class="col-sm-8 form-control medium" >
                </div>
            </div>
            <br/>
            <!-- Text input-->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="receiptNo">Receipt Number</label>
                <div class="controls">
                    <input id="receiptNo" name="receiptNo" type="text" placeholder="Enter Receipt Number"
                           class="col-sm-8 form-control medium" required>
                </div>
            </div>
            <br/>
            <!-- Text input-->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="kitCost">Welcome Kit Cost</label>
                <div class="controls input-group small">
                    <span class="input-group-addon">Rs</span>
                    <input id="kitCost" name="kitCost" type="number" placeholder="000.00"
                           class="col-sm-8 form-control mini">
                </div>
            </div>
            <br/>
            <!-- Button -->
            <br/>
            <br/>
        </fieldset>
    <div class="addmoretext">
        <label class="control-label col-sm-2" for="addMore" style="
    margin-top: 20px;
    margin-left: 7px;
">Add More</label>
    </div>
    <div class="controls">
        <button type="" id="addMore" name="addMore" class="btn btn-primary" style="
    margin-top: 10px;
">+
        </button>
    </div>
    <div class="control-group col-sm-12">
        <div class="controls">
            <button id="Next" name="Next" class="btn btn-primary NextButton" type="">Next</button>
        </div>
    </div>
</div>
<div class="tab-pane col-md-10" id="yellow">
        <fieldset>
            <!-- Text input-->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="modePayment">Total Amount Paid</label>
                <div class="controls input-group small">
                    <span class="input-group-addon">Rs</span>
                    <input id="AmountTotal" name="AmountTotal" type="number" placeholder="000.00"
                           class="col-sm-8 form-control mini">
                </div>
            </div>
            <br/>
            <!-- Text input-->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="modePayment">Mode of Payment</label>
                <div class="controls">
                    <input id="modePayment" name="modePayment" type="text" placeholder="Cash/Account Transfer"
                           class="col-sm-8 form-control medium">
                </div>
            </div>
            <br/>
            <!-- Text input-->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="bankTranID">Bank Transaction id </label>
                <div class="controls">
                    <input id="bankTranID" name="bankTranID" type="text" placeholder=""
                           class="col-sm-8 form-control medium ">
                </div>
            </div>
            <br/>
            <!-- Text input-->
            <div class="control-group col-sm-12">
                <label class="control-label col-sm-4" for="address">Address</label>
                <div class="controls">
                    <input id="address" name="address" placeholder="Enter Address for delivery" rows="3"
                              class="col-sm-8 form-control medium ">
                    </input>
                </div>
            </div>
            <div class="control-group col-sm-12">
                <div class="controls col-sm-12">
                    <button id="placeOrder" name="placeOrder" class="btn btn-primary col-sm-2"
                            style="margin-top:2%; padding-right:10%;">Place Order
                    </button>
                </div>
            </div>
        </fieldset>

</div>
<div class="tab-pane col-md-10" id="orange">
    <p>Order Summary will be here </p>
    <table id="table"
           data-toolbar="#toolbar"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-export="true"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-show-footer="true"
           data-side-pagination="server"
           >
        <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="id" data-sortable="true"
                data-footer-formatter="totalTextFormatter">ID</th>
            <th data-field="NameOfStudent" data-sortable="true" data-editable="true"
                data-footer-formatter="totalNameFormatter">NameOfStudent</th>
            <th data-field="UniformSize" data-sortable="true" data-editable="true"
                data-footer-formatter="totalNameFormatter">UniformSize</th>
            <th data-field="UniformQty" data-sortable="true" data-editable="true"
                data-footer-formatter="totalNameFormatter">UniformQty</th>
            <th data-field="price" data-sortable="true" data-editable="true"
                data-footer-formatter="totalPriceFormatter">Item Price</th>
            <th data-field="operate"
                data-formatter="operateFormatter"
                data-events="operateEvents">Item Operate</th>
        </tr>
        </thead>
    </table>

    <div class="control-group col-sm-12">
        <div class="controls">
            <button id="Confirm" name="Next" class="btn btn-primary NextButton" type="">Confirm</button>
        </div>
    </div>
</div>
</div>


</div>
<!--<footer>
    <div class="footerClass">&copy; Little Einstein 2015</div>
</footer>-->
</body>
<script src="../public/JavaScripts/franchiseMain.js"></script>
</html>