<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../public/Images/LEFav.png">
    <title>LE Previous Orders</title>
    <script src="../public/bootstrap/js/Jquery"></script>
    <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/Stylesheets/LeWebSite.css" rel="stylesheet">

    <script src="../public/angularfiles/angular.min.js"></script>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/bootstrap-table/src/bootstrap-table.css">
    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <script src="../public/jquery.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="../public/bootstrap-table/src/extensions/export/bootstrap-table-export.js"></script>
    <script src="//rawgit.com/kayalshri/tableExport.jquery.plugin/master/tableExport.js"></script>
    <script src="//rawgit.com/kayalshri/tableExport.jquery.plugin/master/jquery.base64.js"></script>
    <script src="../public/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js"></script>
    <script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="../public/ga.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js"></script>

</head>
<body>
<header>
    <img src="../public/Images/LEFav.png" class="col-sm-2 headerImage"><div class="headerClass"><div class="col-sm-8 headerName">Little Einstein Preschool</div>
    <div class="col-sm-2"><a href="#some" class="signIn">WebSite</a> | <a href="#some" class="signIn">Contact Us</a></div></div>
</header>
<div class="control-group col-sm-12">
    <div class="FranchiseName">AkshayFranchisee</div>
    <div class="controls">
        <button id="logout" name="logout" class="btn btn-primary logoutbutton" type="submit">LogOut</button>
    </div>
</div>
<div class="col-md-2 navColumn menu">
    <ul class="nav nav-pills nav-stacked navigationBar">
        <li role="presentation" ><a href="../FranchiseMain.html">Place Order</a></li>
        <li role="presentation"class="active"><a href="#">Previous Orders</a></li>
        <li role="presentation"><a href="Query.html">Queries</a></li>
    </ul>
</div>
<div class="container" style="
    margin-right: 10px;">


    <table

            id="table"
           data-toolbar="#toolbar"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-export="true"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-show-footer="true"
           data-side-pagination="server"
           data-sort-name="CreateOn"
           data-sort-order="desc"




            >

        <thead>
        <tr>
            <th data-formatter="runningFormatter">Index</th>
            <th data-field="OrderId" data-sortable="true"
               >OrderId</th>
            <th data-field="TransactionID" data-sortable="true"
                >TransactionID</th>
            <th data-field="CreateOn" data-sortable="true"
                >CreateOn</th>
            <th data-field="Status"

                data-events="operateEvents">Status</th>
            <th data-field="TotalAmount" data-sortable="true"
                    >TotalAmount</th>
            <th data-field="ModeOfPayment" data-sortable="true"
                    >ModeOfPayment</th>
            <th data-field="ModifiedOn" data-sortable="true"
                    >ModifiedOn</th>
            <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>

        </tr>
        </thead>
    </table>
</div>

<script src="../public/JavaScripts/previousOrders.js">

</script>

</body>
</html>