<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Franchise Query Page</title>
    <link rel="icon" type="image/png" href="../public/Images/LEFav.png">
    <script src="../public/bootstrap/js/Jquery"></script>
    <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/Stylesheets/LeWebSite.css" rel="stylesheet">
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>


</head>
<body>
<div class="col-md-2 navColumn">
    <ul class="nav nav-pills nav-stacked navigationBar">
        <li role="presentation" ><a href="../FranchiseMain.html">Place Order</a></li>
        <li role="presentation"><a href="PreviousOrders.html">Previous Orders</a></li>
        <li role="presentation" class="active"><a href="#">Queries</a></li>
    </ul>


</div>
<div class="container">

    


</div>
</body>
</html>