@font-face {
    font-family: 'fontscorecomttwcenmt';
    src: url('./fonts/fontscorecomttwcenmt.eot');
    src: local('fontscorecomttwcenmt'), url('./fonts/fontscorecomttwcenmt.woff') format('woff'), url('./fonts/fontscorecomttwcenmt.ttf') format('truetype');
}
h1{
    font-family: 'fontscorecomttwcenmt';
    font-size: 400%;
    font-weight: 500;
    color :#081e30;
}
.rightSide{

}
header{
    height: 5%;
    background-color: #396992;
    border-bottom: 2px solid #5f5f5f;
    box-shadow: 0 0 2px black;
}

.headerClass{
    color:white;
    margin-bottom: 3%;
    padding-top: 2%;
    padding-left: 3%;
    font-size: 150%;
    font-family: 'fontscorecomttwcenmt';

}

.footerClass{
    color:white;
    padding-left:3%;
    padding-bottom: 2%;
    padding-top: 1%;
    font-size: 100%;
    font-family: 'fontscorecomttwcenmt';
}

footer{
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0%;
    background-color: #396992;
    border-top: 2px solid #5f5f5f;
    box-shadow: 0 0 2px black;
}
.signIn{
    color:white;
    text-decoration:none !important;
}
a:hover{
    color:white;
}
h4{
    font-family: 'fontscorecomttwcenmt';
    font-size:150%;
}

.OrderForm{
    max-width: 70%;
    margin-top: 5%;
}

.container{
    margin : 5%;
    margin-left: 17%;
    padding-left: 2%;

}
.navigationBar{
    margin-right: 2%;
    padding-right: 2%;
}
.navColumn{
    border-right: 2px solid #e6e6e6;
}
.control-group{
    padding:1%;
}
.form-control{
    width: auto;
}
.mini{
    width :15%;
}

.small{
    width: 20%;
}

.medium{
    width: 40%;
}

.large{
    width: 60%;
}

.xlarge{
    width: 80%
}


.NextButton {
    margin-top: 25px;
    margin-left: 250px;
    width: 20%;

}
.disabledTab{
    pointer-events: none;
}
.addmoretext{

    margin-top:5px;
}
.LoginImage{
   max-width: 50%;
   margin-top: 15%;
}
.LoginHeaderContainer{
    margin-top:5%;

}
.MiddleContainer{
    margin-top: 10%;
    margin-bottom: 20%;
}

.LoginContainer{
    width: 80%;
    margin-bottom: 2%;
}


