.pending{
    background-color: #8ab0e6;
}

.displayOrder{
    padding-top:1%;
    font-weight: 400;
    margin-bottom:0%;
}

.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}
.example-modal .modal {
    background: transparent!important;
}

.emptyClass{
    color:darkgray;
    text-align: center;
    position: relative;
    /*top:100px;*/
}

.tabClass{
    min-height:500px;
}

.medium{
    max-width: 50%;
    min-width:200px;
}
@media screen and (max-width: 700px) {
    .responsiveClass{
        min-width: 100px;
        overflow-x: scroll;
        overflow-y: visible;
    }

    .responsiveClass > .table tr th,
    .responsiveClass > .table tr td {
        white-space: normal!important;
    }
}


.addMoreItems{
    padding-left:0%;
    margin-top:10px;
    margin-bottom: 2%;
}
.InvElementInput{
    min-width:80px;
    padding-left: 1%;
}

.addItemClass{
    position:relative;
    z-index: 1;
}

@media only screen and (max-width: 700px) {
    .ContactListWhite {
        display:none;

    }
}

.clickedMessageFr{
    background-color: #FCFCFA;
}

.messageList{

}

.messageList:hover{
    background-color: #FCFCFA;
}
.singleOrder{
    padding:2%;
    border : 1px solid #ddd;
    margin-bottom:2%;
}
.dispatched{
    background-color: #60e051;
}

.AccountsList{
    border:1px solid #ddd;
    padding:10px;
    margin:5px;
    background-color: #e7ebe6;
    min-height: 80px;
}

.AccountsList:hover{
    background-color: rgb(249, 247, 247);
}

.userList{
    color:black;
}
.userList:hover{
    color: black;
}
.userList>a:hover{
    color:black;
}

.smallClass{
    width:20%;
}

.mediumClass{
    width:50%;
}

.padUp{
    padding-top:2%;
}

.NotificationTable{
    background-color: white;
    padding:2%;
}

